//Den Körper auf die ganze Seite strecken und die Ränder entfernen
html,
body {
  overflow: hidden;
  margin: 0;
  display: inline-block;
  height: 97vh;
  width: 100%;
  background: #2b2b2b;
  color: #A0A0A0;
}
//Titel stylen
h1 {
  margin-left: 30px;
  font-size: 100px;
}

//Ein Div auf die linke Hälfte der Seite fixieren
#leftbox {
  float: left;
  width: 48%;
  height: 280px;
  font-size: 20px;
  margin-left: 30px;
}
//Ein Div auf die rechte Hälfte der Seite fixieren
#rightbox {
  float: right;
  width: 48%;
  height: 280px;
  margin-left: 30px;
  font-size: 30px;
}

//Schriftgrösse Titel einstellen
.title {
  font-size: 40px;
}
//Buttons stylen
button {
  background: #323232;
  color: #A0A0A0;
  border: #323232;
  width: 100%;
}
button:hover {
  background: #A0A0A0;
  color: #323232;
  border: #A0A0A0;
}

//Position Logout-Button
.logOut{
  position: fixed;
  bottom: 3vh;
  right: 3vh;
  font-size: 50px;
  width: 20%;
}

//Position Zurück-Button
.goBack{
  position: fixed;
  bottom: 3vh;
  left: 3vh;
  font-size: 50px;
  width: 20%;
}
//Abstand zwischen den Informationen
.info {
  margin-bottom: 10px;
}
