<body>
<div *ngFor="let task of tasks">

<h1>{{task.titel}}</h1>
<div id = "boxes">
  <div id = "leftbox">
    <label class="title">Userstory</label>
    <div>
      {{task.userStory}}
    </div>
    <label class="title">Beschreibung</label>
    <div>
      {{task.beschreibung}}
    </div>
  </div>
  <div id = "rightbox">
    <div class="info" >
      <label>Status: </label>
      <span>{{task.status}}</span>
    </div>
    <div class="info">
    <label>Sollzeit: </label>
    <span>{{task.sollZeit | number: '1.2-2'}}</span>
    </div>
    <div class="info">
      <label>Istzeit: </label>
      <span>{{task.istZeit | number: '1.2-2'}}</span>
    </div>
    <div class="info">
      <label>SollDatum: </label>
      <span>{{task.sollDatum}}</span>
    </div>
    <button (click)="startTimer()" routerLink="/stopuhr" class="info">
      Arbeit beginnen
    </button>
  </div>
</div>
</div>
    <button (click)="goBack()" class="goBack">Zurück</button>
    <button (click)="logOut()" class="logOut">Abmelden</button>
</body>
