html,
body {
  overflow: hidden;
  margin: 0;
  display: inline-block;
  height: 98.7vh;
  width: 100%;
  background: #2b2b2b;
  color: #A0A0A0;
}

.time {
  margin-top: 49vh;
  font-size: 100px;
  text-align: center;
}

button {
  background: #323232;
  color: #A0A0A0;
  border: #323232;
  margin: auto;
  font-size: 30px;
  width: 20%;
}

button:hover {
  background: #A0A0A0;
  color: #323232;
  border: #A0A0A0;
}

.buttonCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}

