<body>
﻿<h2 class="center">Login</h2>
<!-- Form um Anmeldedaten anzugeben -->
<form [formGroup]="logInForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="form-group">
    <label>E-Mail:</label>
  </div>
  <div>
    <input type="text" formControlName="mail" class="form-control" placeholder="E-Mail"/>
  </div>
  <div class="form-group">
    <label >Passwort:</label>
  </div>
  <div>
    <input type="password" formControlName="password" placeholder="Passwort" class="form-control"/>
  </div>
  <div class="form-group">
    <!-- Man kann die Form auch mit der Enter-Taste bestätigen --->
    <button (keyup.enter)="onSubmit()" type="submit" value="submit">
      Login
    </button>
  </div>
  <div>
    <label class="error" FormControlName="error">{{error}}</label>
  </div>
</form>
</body>
