//Den Körper auf die ganze Seite strecken und die Ränder entfernen
html,
body{
  overflow: hidden;
  margin: 0;
  display: inline-block;
  height: 98.9vh;
  width: 100%;
  background-size: cover;
  background: #2b2b2b;
  color: #A0A0A0;
}

//Den Input färben
input{
  background: #323232;
  color: #A0A0A0;
  border: #323232;
  margin-top: 5px;
  width: 100%;
}
//Den Titel formattieren
h2{
  margin-top: 10%;
  margin-bottom: 5px;
  font-size: 130px;
  text-align: center;
}

//Die Form in die Mitte bringen
form{
  margin: auto;
  text-align: center;
  width: 20%;
  height: 20%;
  padding: 5px;
}

//Button färben
button{
  background: #323232;
  color: #A0A0A0;
  border: #323232;
  width: 100%;
  margin-top: 5px;
}
button:hover{
  background: #A0A0A0;
  color: #323232;
  border: #A0A0A0;
}
//Abstand oben einfügen
label {
  margin-top: 5px;
}
